@fullbay:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${FORGE_AUTH_TOKEN}
always-auth=true

@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_AUTH_TOKEN}
